<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="intro">
      <p id="command">Search a city to see it's 5 day forecast!</p>
      <app-search-bar
        id="search-bar"
        (appearDashboard)="onAppearDashboard($event)"
      ></app-search-bar>
    </div>
    @if (visible()) {
    <app-dashboard (pinCity)="pinCity($event)"  [weather_info]="weather_info"></app-dashboard>
    }
    @if (somethingPinned()) {
      <app-my-cities-dashboard [weather_info]="weather_info"></app-my-cities-dashboard>
    } 
  </body>
</html>
